@model List<ApplicationUser>
<style>
.btn-bulk {
    background-color: #218838;
    color: white;
    margin-left: 10px; /* Adjust spacing as needed */
}
.btn-bulk:hover {
    background-color: #1c7430;
}

.btn-item {
    float: left;
    padding-right: .5rem;
    color: #6c757d;
    content: "" !important;
}

</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">View Registered Clients</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Client Registration</a></li>
                    <li class="breadcrumb-item active">View Registered Clients</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6" style="padding-right: 0px;">
                <ol class="breadcrumb float-sm-right">
                    <li class="btn-item">
                        <a asp-area="Admin" asp-controller="ClientRegister" asp-action="Create" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i> &nbsp; Add New Client
                        </a>
                    </li>
                    <li class="btn-item">
                        <a asp-area="Admin" asp-controller="ClientRegister" asp-action="BulkCreate" class="btn btn-bulk">
                            <i class="bi bi-upload"></i> &nbsp; Add Clients in Bulk
                        </a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
    <br />
</div>
<section class="content">
    <form method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header">
                        @* <h3 class="card-title">View clients</h3> *@
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" value="">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row no-print">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary float-right">Search</button>
                                <button type="button" class="btn btn-success float-right" style="margin-right: 5px;"> Clear All </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col (left) -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">View User Clients</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="display:none">Id</th>
                                            <th>Client Name</th>
                                            <th>Contact Person 01</th>
                                            <th>Contact Number 01</th>
                                            <th>Contact Person 02</th>
                                            <th>Contact Number 02</th>
                                            <th>Email</th>
                                            <th>Files</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderBy(u => u.Id))
                                            {
                                                var files = ViewBag.ClientFiles as Dictionary<string, List<string>>;
                                                var fileNames = files != null && files.ContainsKey(item.Id) ? files[item.Id] : new List<string>();

                                                <tr>
                                                    <td style="display:none">@Html.DisplayFor(modelItem => item.Id)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Organization)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ContactName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ContactPhone)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ContactPerson02Name)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ContactPerson02Phone)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                                    <td>
                                                        @if (fileNames.Any())
                                                        {
                                                            <ul>
                                                                @foreach (var fileName in fileNames)
                                                                {
                                                                    var shortenedFileName = fileName.Length > 20 ? fileName.Substring(0, 20) + "..." : fileName;
                                                                    <li>
                                                                        <a href="@Url.Action("DownloadFile", new { clientId = item.Id, fileName = fileName })" 
                                                                           download
                                                                           title="@fileName">
                                                                           @(shortenedFileName)
                                                                        </a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="w-75 btn-group" role="group">
                                                            <a asp-controller="ClientRegister" asp-action="Edit" asp-route-id="@item.Id"
                                                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                                            <a asp-controller="ClientRegister" asp-action="Delete" asp-route-id="@item.Id"
                                                               class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.container-fluid -->
    </form>
</section>
<script>
    function reloadPage() {
        location.reload();
    }
</script>

