@using KOICommunicationPlatform.Utilities;
@model PagedResult<KOICommunicationPlatform.ViewModels.ClientViewModel>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">View Registered Clients</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">User Roles</a></li>
                    <li class="breadcrumb-item active">View Registered Clients</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header">
                        @* <h3 class="card-title">View clients</h3> *@
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" value="">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row no-print">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary float-right">Search</button>
                                <button type="button" class="btn btn-success float-right" style="margin-right: 5px;"> Clear All </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col (left) -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">View User Roles</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="display:none">Id</th>
                                            <th>Client Name</th>
                                            <th>Contact Person 01</th>
                                            <th>Contact Number 01</th>
                                            <th>Contact Person 02</th>
                                            <th>Contact Number 02</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         @foreach (var item in Model.Data)
                                        {
                                            <tr>
                                                <td style="display:none">@Html.DisplayFor(modelItem => item.Id)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ClientName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ContactPerson01Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ContactPerson01Contact)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ContactPerson02Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ContactPerson02Contact)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                                <td>
                                                    <style>
                                                        .link {
                                                            color: blue;
                                                            text-decoration: underline;
                                                            cursor: pointer;
                                                        }
                                                    </style>
                                                  @*   <button class="link" id="loadClientDetailsButton" onclick="loadClientDetails(@item.Id)">Load Client Details</button> *@
                                                    <a href="javascript:void(0);" onclick="loadClientDetails(@item.Id)">Details</a> |
                                                    <a href="#">Edit</a> |
                                                    <a href="#">Delete</a> 
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <cs-pager gees-pager cs-paging-pagesize=(int)Model.PageSize
                                          cs-paging-pagenumber=(int)Model.PageNumber cs-paging-totalitems=(int)Model.TotalItems cs-pagenumber-paran="pageNumber" asp-controller="RoomType"
                                          asp-action="Index" cs-pager-Li-current-class="page-item active" cs-pager-li-other-class="page-item" [ cs-pager-li-non-active-class="page-item disabled" cs-pager-Link-current-class="page-link" cs-pager-Link-other-class="page-Link">
                                </cs-pager>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->

        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function loadClientDetails(clientId) {
        $.ajax({
            url: '@Url.Action("GetClientDetails", "ClientRegister")',
            type: 'GET',
            data: { id: clientId },
            success: function (response) {
                if (response.success) {
                    var client = response.data;
                    var htmlcode =
                        '<div class="modal fade" id="viewClientModal" tabindex="-1" role="dialog" aria-labelledby="viewClientModalLabel" aria-hidden="true">' +
                        '<div class="modal-dialog" role="document">' +
                        '<div class="modal-content">' +
                        '<div class="modal-header">' +
                        '<h5 class="modal-title" id="viewClientModalLabel">Client Details</h5>' +
                        '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>' +
                        '<div class="modal-body">' +
                        '<p>Name of Client: ' + client.clientName + '</p>' + '<br>' +
                        '<p>Email: ' + client.email + '</p>' + '<br>' +
                        '<p>Contact Person 01 Name: ' + client.contactPerson01Name + '</p>' + '<br>' +
                        '<p>Contact Person 01 Contact: ' + client.contactPerson01Contact + '</p>' + '<br>' +
                        '<p>Contact Person 02 Name:' + client.contactPerson02Name + '</p>' + '<br>' +
                        '<p>Contact Person 02 Contact: ' + client.contactPerson02Contact + '</p>' + '<br>' +
                        '<p>Description: ' + client.submissionLink + '</p>' + '<br>' +
                        '</div>' +
                        '<div class="modal-footer">' +
                        '<button type="button" class="btn btn-secondary" id="close" onclick="reloadPage()" data-dismiss="modal">Close</button>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    // Append the modal HTML to the body
                    $('body').append(htmlcode);

                    // Show the modal
                    $('#viewClientModal').modal('show');
                } else {
                    alert(response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("An error occurred: " + error);
            }
        });
    }
    function reloadPage() {
        location.reload();
    }
</script>


