@{
    ViewData["Title"] = "Home Page";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="m-0">Hi, @ViewBag.Organization!</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Client Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fa fa-bell"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Client Contract</span>
                        <span class="info-box-number">Uploaded: 
                            <span style="color:green; font-weight:bold">@ViewBag.isexistCotractYesNo</span>
                        </span>
                        <span class="info-box-number"> Contract:
                            @foreach (var fileName in ViewBag.fileNames){
                             <a style="color:green; font-weight:bold;" href="@Url.Action("DownloadFile", "Client", new { clientId = ViewBag.ClientId, fileName = fileName })" title="@fileName" download>
                                 Download Contract</a>
                             }
                        </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-bars-progress"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Dev Teams : </span>
                        <span class="info-box-number">Count: 
                           &nbsp&nbsp <span style="color:red; font-weight:bold">@ViewBag.DevGroupCount</span>
                        </span>
                        <a href="#" class="small-box-footer" data-toggle="modal" data-target="#modal-detail">
    More info <i class="fas fa-arrow-circle-right"></i>
</a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fa fa-bars-progress"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Status</span>
                        <span class="info-box-number">Uploads: </span>
                        <span class="info-box-number">Tasks: </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Upcoming Meetings</span>
                        <span class="info-box-number">Count: </span>
                        <span class="info-box-number">Completed: </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- Modal Structure -->
<!-- Modal Structure -->
<div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> <!-- Larger size for the modal -->
        <div class="modal-content">
            <div class="modal-header bg-primary text-white"> <!-- Custom header colors -->
                <h5 class="modal-title" id="modalLabel">Group Details</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Student Table -->
                <div class="table-responsive"> <!-- Ensures table responsiveness -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Given Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody id="student-table-body">
                            @if (ViewBag.StudentList != null)
                            {
                                foreach (var student in ViewBag.StudentList)
                                {
                                            <tr>
                                                <td>@student.Student.GivenName</td>
                                                <td>@student.Student.Surname</td>
                                                <td>@student.Student.Email</td>
                                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add JavaScript/jQuery for modal handling -->
<script>
    $(document).ready(function () {
        // Set Group ID if needed
        $('#modal-detail').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var groupId = button.data('group-id'); // Extract info from data-* attributes
            var modal = $(this);
            modal.find('#group-id').text(groupId); // Update the modal's content
        });
    });
</script>